.sr-only
{
  display: none;
}

button {
  border: none;
  background-color: inherit;
}

.dir-map {
  height: 300px;
  width: 500px;
  margin-bottom: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}